.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  margin-right: 30px;
}

.item:last-of-type {
  margin-right: 0;
}

.button {
  border: none;
  background: none;
  text-decoration: none;
  font-size: 22px;
  line-height: 25px;
  font-weight: 400;
  color: #707070;
  transition: all 0.2s;
}

.button:focus,
.button:hover,
.buttonActive {
  outline: none;
  color: #000000;
}
