.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 46px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px #0000003D;
  background: #006896;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: normal;
  font-family: inherit;
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.2s;
  cursor: pointer;
}

.button:hover,
.button:focus {
  outline: none;
  box-shadow: none;
  opacity: 0.8;
}

.disabled {
  box-shadow: none;
  background: #B6C0D2;
  pointer-events: none;
}
